<footer class="footer">
    <nav class="link-container">
        <a href="#hero">
            <img src="/images/ico-arrow.svg" alt="arrow pointig to the top">
        </a>
    </nav>
    <nav class="topics">
        <ul>
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </nav>
    <nav class="social-media">
        <ul>
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>

    <div class="copyright">
        <p>&copy; 2023</p>
        <p>We <span class="heart"> ❤︎ </span>run</p>
    </div>
     
</footer>