<section class="highlights">
    <div class="highlights-title_section">
        <p class="highlights-title_section-subtitle">¡Prepáralos con tus marcas favoritas!</p>
        <h2 class="highlights-title_section-title">VUELTA AL COLE</h2>
    </div>

    <div class="highlights-product">
        <load src="/partials/product-highlight.html" imageurl="/images/nena1.png" image-description="niña sonriente mostrando su mochila" img-title="Mochilas escolares"/>
    </div>
    <div class="highlights-product">
        <load src="/partials/product-highlight.html" imageurl="/images/nene-con-estuche.png" image-description="niño jugando con lapices" img-title="Estuches"/>
    </div>
    <div class="highlights-product">
        <load src="/partials/product-highlight.html" imageurl="/images/nena2.png" image-description="niña sonriente mostrando su mochila de deporte" img-title="Bolsas de deporte"/>
    </div>
    
    <div class="shop-link">
        <button><a href="">Empezar ahora</a></button>
    </div>
    
    
</section>