<section class="highlights">
    <p class="highlights-subtitle">¡Prepáralos con tus marcas favoritas!</p>
    <h2 class="highlights-title">VUELTA AL COLE</h2>
    <load src="/partials/product-highlight.html" imageurl="/images/nena1.png" image-description="niña sonriente mostrando su mochila" img-title="Mochilas escolares"/>
    <load src="/partials/product-highlight.html" imageurl="/images/nene-con-estuche.png" image-description="niño jugando con lapices" img-title="Estuches"/>
    <load src="/partials/product-highlight.html" imageurl="/images/nena2.png" image-description="niña sonriente mostrando su mochila de deporte" img-title="Bolsas de deporte"/>
    <button><a href="">Empezar ahora</a></button>
    
</section>